<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>수어 번역 사이트</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'sign_lang:main' %}"><strong>Sign Language Translation</strong></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'sign_lang:main' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'sign_lang:about' %}">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'sign_lang:faq' %}">FAQ</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Page</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="portfolio-overview.html">내정보 수정</a></li>
                                    <li><a class="dropdown-item" href="portfolio-item.html">예측 현황</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                    <h1 class="fw-bolder mb-3">
                                        <span style="background: linear-gradient(to right, #ffa7a3, #5673bd); padding: 0.43em 1em; font-size: 36px; border-radius: 3px; color: #ffffff;">수어 번역 서비스</span></h1>
                                    <p class="lead fw-normal text-muted mb-4">딥러닝 기반 수어(수화) 번역 솔루션 제공
                                    </p>
                                    <p class="fw-light text-muted mb-4" >고품질의 수어 번역 서비스를 개발함으로써 청각장애인의 정보 접근성을 개선하고, 궁극적으로는 청각장애인의 삶의 질과 사회적 참여를 높이는데 기여할 수 있습니다.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target" >
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/hand_detection.PNG" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder" style="background-color:Cornsilk;">Object Detection</h2>
                            <p class="lead fw-normal text-muted mb-0">업로드된 동영상으로부터 손의 위치를 파악하고, <br> 이를 실시간으로 번역한다. </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/sign_classification.PNG" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder" style="background-color:Cornsilk;">Image Classification</h2>
                            <p class="lead fw-normal text-muted mb-0">업로드된 이미지로부터 어떤 글자를 의미하는지 분류한다.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 수화설명-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <a href="https://sldict.korean.go.kr/front/main/main.do" target = "_blank"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/cap1.jpg" alt="..." /></a>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder" style="background-color:Cornsilk;">수어와 역사</h2>
                            <p class="lead fw-normal text-muted mb-0">수어에 대해 유래를 알아보고 현재 수어에 종류를 살펴보자 </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 수화배우기-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/cap2.png" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder" style="background-color:Cornsilk;">수어 배워보기</h2>
                            <p class="lead fw-normal text-muted mb-0">실생활 속 자주 사용하는 간단한 수어를 배워봅시다.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our Team</h2>
                        <p class="lead fw-normal text-muted mb-5">KT AIVLE School 2기 충남충북 1반</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="width justify-content-center ">
                                <div class="text-center">
                                    <img class="h-image rounded-circle mb-4 px-4" src="/static/assets/subinkim.jpg" alt="..." />
                                    <h5 class="fw-bolder">김수빈</h5>
                                    <div class="fst-italic text-muted">2th AIVLER</div>
                                    <div class="fw-light text-muted">B.S. in Computer Science Engineering</div>
                                </div>
                                <div class="text-center">
                                    <img class="h-image rounded-circle mb-4 px-4" src="/static/assets/dog.jfif" alt="..." />
                                    <h5 class="fw-bolder">최재혁</h5>
                                    <div class="fst-italic text-muted">2th AIVLER</div>
                                    <div class="fw-light text-muted">B.S. in Computer Science Engineering</div>
                                </div>
                                <div class="text-center">
                                    <img class="h-image rounded-circle mb-4 px-4" src="/static/assets/subinkim.jpg" alt="..." />
                                    <h5 class="fw-bolder">조진호</h5>
                                    <div class="fst-italic text-muted">2th AIVLER</div>
                                    <div class="fw-light text-muted">B.S. in Computer Science Engineering</div>
                                </div>
                                <div class="text-center">
                                    <img class="h-image rounded-circle mb-4 px-4" src="/static/assets/subinkim.jpg" alt="..." />
                                    <h5 class="fw-bolder">황재윤</h5>
                                    <div class="fst-italic text-muted">2th AIVLER</div>
                                    <div class="fw-light text-muted">B.S. in Computer Science Engineering</div>
                                </div>
                                <div class="text-center">
                                    <img class="h-image rounded-circle mb-4 px-4" src="/static/assets/subinkim.jpg" alt="..." />
                                    <h5 class="fw-bolder">이지호</h5>
                                    <div class="fst-italic text-muted">2th AIVLER</div>
                                    <div class="fw-light text-muted">B.S. in Computer Science Engineering</div>
                                </div>
                                <div class="text-center">
                                    <img class="h-image rounded-circle mb-4 px-4" src="/static/assets/subinkim.jpg" alt="..." />
                                    <h5 class="fw-bolder">이시영</h5>
                                    <div class="fst-italic text-muted">2th AIVLER</div>
                                    <div class="fw-light text-muted">B.S. in Computer Science Engineering</div>
                                </div>
                                <div class="text-center">
                                    <img class="h-image rounded-circle mb-4 px-4" src="/static/assets/subinkim.jpg" alt="..." />
                                    <h5 class="fw-bolder">김유민</h5>
                                    <div class="fst-italic text-muted">2th AIVLER</div>
                                    <div class="fw-light text-muted">B.S. in Computer Science Engineering</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; SB-Page 2022</div></div>
                    
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
