{% extends 'index.html' %} {% block content %}
<!-- Header-->
<header class="py-5">
	<div class="container px-6">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-xxl-5">
				<div class="text-center my-5">
					<h1 class="fw-bolder mb-3">
						<span style="background: linear-gradient(to right, #ffa7a3, #5673bd); padding: 0.43em 1em; font-size: 36px; border-radius: 3px; color: #ffffff;">Our Team</span>
					</h1>
					<p class="lead fw-normal text-muted mb-4"></p><br>
					<p class="fw-light text-muted mb-4">AI 5반이자 충남충북 1반 팀원들 입니다. </p>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- name 01-->
<section class="py-7 bg-light" id="scroll-target">
	<div class="container my-5">
		<div class="row gx-5 align-items-center justify-content-center">
			<div class="row justify-content-center">
				<div class="selected namecardPreview col-xl-5" style="position:relative;width:358px;min-height:166px;border:2px solid #e5e5e5;border-radius:10px;font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif">
					<div data-type="_typeA" class="_blogNamecardType"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td>
									<strong style="font-size:16px;line-height:22px;color:#45484f" class="_previewTitle">최재혁</strong>
									<span style="display:inline-block;width:100%;font-family: Tahoma;font-size: 14px;line-height:16px;word-break: break-all;color:#8d8d8d">cjhh0797@naver.com</span>
									</a>
								</td>
								<td style="padding:12px 0;">
									<img src="/static/assets/jh.jpg" width="80" height="100" style="display: block;border-radius: 50%" alt="홈페이지 대표이미지">
								</td>
							</tr>
						</tbody>
					</table>
					<div style="height:1px;background:#eee;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td style="padding-top:18px;font-size:12px;line-height:17px;color:#8d8d8d;letter-spacing:-1px;">
									<span class="_previewAddress"> KT AIVLE School 2기 충남충북 1반</span>
								</td>
							</tr>
                            <tr>
								<td></td>
							</tr>
							<tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewTelephoneStrong">직무</strong>
									<span class="_previewTelephone"> AI 개발자</span>
								</td>
							</tr>
                            <tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewCellphoneStrong">P.H.</strong>
									<span class="_previewCellphone"> 010-2239-3757</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td></td>
								<td width="85" height="35">
									<img src="/static/assets/aivle.PNG" alt="modoo">
								</td>
							</tr>
							<tr>
								<td colspan="2" height="18"></td>
							</tr>
						</tbody>
					</table>
				</div>
                <div class="col-auto"></div>
                <div class="selected namecardPreview col-xl-5" style="position:relative;width:358px;min-height:166px;border:2px solid #e5e5e5;border-radius:10px;font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif">
					<div data-type="_typeA" class="_blogNamecardType" style="position:absolute;left:0;right:0;bottom:0;top:0;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td>
									<strong style="font-size:16px;line-height:22px;color:#45484f" class="_previewTitle">이시영</strong>
									<span style="display:inline-block;width:100%;font-family: Tahoma;font-size: 14px;line-height:16px;word-break: break-all;color:#8d8d8d">dtdtd4861@naver.com</span>
									</a>
								</td>
								<td style="padding:12px 0;">
									<img src="/static/assets/Leesiyoung.jpg" width="80" height="100" style="display: block;border-radius: 50%" alt="홈페이지 대표이미지">
								</td>
							</tr>
						</tbody>
					</table>
					<div style="height:1px;background:#eee;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td style="padding-top:18px;font-size:12px;line-height:17px;color:#8d8d8d;letter-spacing:-1px;">
									<span class="_previewAddress"> KT AIVLE School 2기 충남충북 1반</span>
								</td>
							</tr>
                            <tr>
								<td></td>
							</tr>
							<tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewTelephoneStrong">직무</strong>
									<span class="_previewTelephone"> AI 개발자</span>
								</td>
							</tr>
                            <tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewCellphoneStrong">P.H.</strong>
									<span class="_previewCellphone"> 010-9985-3757</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td></td>
								<td width="85" height="35">
									<img src="/static/assets/aivle.PNG" alt="modoo">
								</td>
							</tr>
							<tr>
								<td colspan="2" height="18"></td>
							</tr>
						</tbody>
					</table>
				</div>

				
			</div>
		</div>
	</div>
</section>

<!-- name 02-->
<section class="py-7 bg-light" id="scroll-target">
	<div class="container my-5">
		<div class="row gx-5 align-items-center justify-content-center">
			<div class="row justify-content-center">
				<div class="selected namecardPreview col-xl-5" style="position:relative;width:358px;min-height:166px;border:2px solid #e5e5e5;border-radius:10px;font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif">
					<div data-type="_typeA" class="_blogNamecardType"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td>
									<strong style="font-size:16px;line-height:22px;color:#45484f" class="_previewTitle">김수빈</strong>
									<span style="display:inline-block;width:100%;font-family: Tahoma;font-size: 14px;line-height:16px;word-break: break-all;color:#8d8d8d">aqaq925120k@gmail.com</span>
									</a>
								</td>
								<td style="padding:12px 0;">
									<img src="/static/assets/subinkim.jpg" width="80" height="100" style="display: block;border-radius: 50%" alt="홈페이지 대표이미지">
								</td>
							</tr>
						</tbody>
					</table>
					<div style="height:1px;background:#eee;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td style="padding-top:18px;font-size:12px;line-height:17px;color:#8d8d8d;letter-spacing:-1px;">
									<span class="_previewAddress"> KT AIVLE School 2기 충남충북 1반</span>
								</td>
							</tr>
                            <tr>
								<td></td>
							</tr>
							<tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewTelephoneStrong">직무</strong>
									<span class="_previewTelephone"> AI 개발자</span>
								</td>
							</tr>
                            <tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewCellphoneStrong">P.H.</strong>
									<span class="_previewCellphone"> 010-6878-6928</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td></td>
								<td width="85" height="35">
									<img src="/static/assets/aivle.PNG" alt="modoo">
								</td>
							</tr>
							<tr>
								<td colspan="2" height="18"></td>
							</tr>
						</tbody>
					</table>
				</div>
                <div class="col-auto"></div>
                <div class="selected namecardPreview col-xl-5" style="position:relative;width:358px;min-height:166px;border:2px solid #e5e5e5;border-radius:10px;font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif">
					<div data-type="_typeA" class="_blogNamecardType" style="position:absolute;left:0;right:0;bottom:0;top:0;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td>
									<strong style="font-size:16px;line-height:22px;color:#45484f" class="_previewTitle">조진호</strong>
									<span style="display:inline-block;width:100%;font-family: Tahoma;font-size: 14px;line-height:16px;word-break: break-all;color:#8d8d8d">mn0401610@naver.com</span>
									</a>
								</td>
								<td style="padding:12px 0;">
									<img src="/static/assets/Chojinho.jpg" width="80" height="100" style="display: block;border-radius: 50%" alt="홈페이지 대표이미지">
								</td>
							</tr>
						</tbody>
					</table>
					<div style="height:1px;background:#eee;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td style="padding-top:18px;font-size:12px;line-height:17px;color:#8d8d8d;letter-spacing:-1px;">
									<span class="_previewAddress"> KT AIVLE School 2기 충남충북 1반</span>
								</td>
							</tr>
                            <tr>
								<td></td>
							</tr>
							<tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewTelephoneStrong">직무</strong>
									<span class="_previewTelephone"> AI 개발자</span>
								</td>
							</tr>
                            <tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewCellphoneStrong">P.H.</strong>
									<span class="_previewCellphone"> 010-7484-4159</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td></td>
								<td width="85" height="35">
									<img src="/static/assets/aivle.PNG" alt="modoo">
								</td>
							</tr>
							<tr>
								<td colspan="2" height="18"></td>
							</tr>
						</tbody>
					</table>
				</div>

				
			</div>
		</div>
	</div>
</section>


<!-- name 03-->
<section class="py-7 bg-light" id="scroll-target">
	<div class="container my-5">
		<div class="row gx-5 align-items-center justify-content-center">
			<div class="row justify-content-center">
				<div class="selected namecardPreview col-xl-5" style="position:relative;width:358px;min-height:166px;border:2px solid #e5e5e5;border-radius:10px;font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif">
					<div data-type="_typeA" class="_blogNamecardType"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td>
									<strong style="font-size:16px;line-height:22px;color:#45484f" class="_previewTitle">이지호</strong>
									<span style="display:inline-block;width:100%;font-family: Tahoma;font-size: 14px;line-height:16px;word-break: break-all;color:#8d8d8d">ljh_96@naver.com</span>
									</a>
								</td>
								<td style="padding:12px 0;">
									<img src="/static/assets/LEEJIHO.jpg" width="80" height="100" style="display: block;border-radius: 50%" alt="홈페이지 대표이미지">
								</td>
							</tr>
						</tbody>
					</table>
					<div style="height:1px;background:#eee;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td style="padding-top:18px;font-size:12px;line-height:17px;color:#8d8d8d;letter-spacing:-1px;">
									<span class="_previewAddress"> KT AIVLE School 2기 충남충북 1반</span>
								</td>
							</tr>
                            <tr>
								<td></td>
							</tr>
							<tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewTelephoneStrong">직무</strong>
									<span class="_previewTelephone"> AI 개발자</span>
								</td>
							</tr>
                            <tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewCellphoneStrong">P.H.</strong>
									<span class="_previewCellphone"> 010-5105-7518</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td></td>
								<td width="85" height="35">
									<img src="/static/assets/aivle.PNG" alt="modoo">
								</td>
							</tr>
							<tr>
								<td colspan="2" height="18"></td>
							</tr>
						</tbody>
					</table>
				</div>
                <div class="col-auto"></div>
                <div class="selected namecardPreview col-xl-5" style="position:relative;width:358px;min-height:166px;border:2px solid #e5e5e5;border-radius:10px;font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif">
					<div data-type="_typeA" class="_blogNamecardType" style="position:absolute;left:0;right:0;bottom:0;top:0;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td>
									<strong style="font-size:16px;line-height:22px;color:#45484f" class="_previewTitle">황재윤</strong>
									<span style="display:inline-block;width:100%;font-family: Tahoma;font-size: 14px;line-height:16px;word-break: break-all;color:#8d8d8d">jyhw0306@daum.net</span>
									</a>
								</td>
								<td style="padding:12px 0;">
									<img src="/static/assets/temp_img.jpg" width="80" height="100" style="display: block;border-radius: 50%" alt="홈페이지 대표이미지">
								</td>
							</tr>
						</tbody>
					</table>
					<div style="height:1px;background:#eee;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td style="padding-top:18px;font-size:12px;line-height:17px;color:#8d8d8d;letter-spacing:-1px;">
									<span class="_previewAddress"> KT AIVLE School 2기 충남충북 1반</span>
								</td>
							</tr>
                            <tr>
								<td></td>
							</tr>
							<tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewTelephoneStrong">직무</strong>
									<span class="_previewTelephone"> AI 개발자</span>
								</td>
							</tr>
                            <tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewCellphoneStrong">P.H.</strong>
									<span class="_previewCellphone"> 010-2364-8578</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td></td>
								<td width="85" height="35">
									<img src="/static/assets/aivle.PNG" alt="modoo">
								</td>
							</tr>
							<tr>
								<td colspan="2" height="18"></td>
							</tr>
						</tbody>
					</table>
				</div>

				
			</div>
		</div>
	</div>
</section>

<!-- name 04-->
<section class="py-7 bg-light" id="scroll-target">
	<div class="container my-5">
		<div class="row gx-5 align-items-center justify-content-center">
			<div class="row justify-content-center">
				<div class="selected namecardPreview" style="position:relative;width:358px;min-height:166px;border:2px solid #e5e5e5;border-radius:10px;font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif">
					<div data-type="_typeA" class="_blogNamecardType"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td>
									<strong style="font-size:16px;line-height:22px;color:#45484f" class="_previewTitle">김유민</strong>
									<span style="display:inline-block;width:100%;font-family: Tahoma;font-size: 14px;line-height:16px;word-break: break-all;color:#8d8d8d">ym1522@naver.com</span>
									</a>
								</td>
								<td style="padding:12px 0;">
									<img src="/static/assets/yumin.jpg" width="80" height="100" style="display: block;border-radius: 50%" alt="홈페이지 대표이미지">
								</td>
							</tr>
						</tbody>
					</table>
					<div style="height:1px;background:#eee;"></div>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td style="padding-top:18px;font-size:12px;line-height:17px;color:#8d8d8d;letter-spacing:-1px;">
									<span class="_previewAddress"> KT AIVLE School 2기 충남충북 1반</span>
								</td>
							</tr>
                            <tr>
								<td></td>
							</tr>
							<tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewTelephoneStrong">직무</strong>
									<span class="_previewTelephone"> AI 개발자</span>
								</td>
							</tr>
                            <tr>
								<td style="font-size: 12px;line-height: 17px;color:#8d8d8d;letter-spacing: -0.5px">
									<strong class="_previewCellphoneStrong">P.H.</strong>
									<span class="_previewCellphone"> 010-5124-8218</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<table style="width:318px;margin:0 auto;border-collapse: collapse;border-spacing:0">
						<tbody>
							<tr>
								<td></td>
								<td width="85" height="35">
									<img src="/static/assets/aivle.PNG" alt="modoo">
								</td>
							</tr>
							<tr>
								<td colspan="2" height="18"></td>
							</tr>
						</tbody>
					</table>
				</div>
                

				
			</div>
		</div>
	</div>
</section>

{% endblock content %}