{% extends 'index.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder text-white mb-3">간단하게 배우는 수어</h1>
                    <p class="lead fw-normal text-muted mb-4">일상 속 간단한 수어 배우기
                    </p>
                    <p class="fw-light text-muted mb-4" >일상 속에서 수어를 사용할 기회는 많지 않지만 <br> 당신의 작은 배려가 누군가에게는 큰 도움이 될 수 있습니다
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/learn1.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">안녕하세요</h2>
                </p>
                <p class="lead fw-normal text-muted mb-0">왼손은 주먹을 쥐고 팔을 편 상태에서 오른손 손바닥으로 왼쪽 <br> 팔을 쓸어내립니다. 그리고 왼손과 오른손 모두 가볍게 주먹을 <br> 쥐고 가슴 위에서 아래로 내리는 동작을 합니다.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/learn2.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">만나서 반갑습니다</h2>
                </p>
                <p class="lead fw-normal text-muted mb-0">왼손과 오른손 검지를 세우고 가운데로 모아줍니다. 엄지를 펴고 나머지 네 손가락은 구부려 '반갑다'의 'ㅂ'자 형태를 만든 후 가슴 부위에서 위 아래로 번갈아 올리고 내리는 동작을 합니다.
            </div>
        </div>
    </div>
</section>
<!-- About section three-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/learn3.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">고맙습니다</h2>
                </p>
                <p class="lead fw-normal text-muted mb-0">양 손을 펴서 왼손은 손등을 보이고 오른손은 옆으로 세워 위에서 아래로 내리는 동작을 합니다. 이 동작은 의례적인 행위를 형상화한 것으로 동작과 함께 고개를 숙여 겸손한 마음을 표현합니다.
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/learn4.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">사랑합니다</h2>
                </p>
                <p class="lead fw-normal text-muted mb-0">한 손은 주먹을 쥐고 일자로 세운 뒤 다른 한 손은 손바닥을 펴서 주먹 위에 원을 그리는 동작을 합니다.
            </div>
        </div>
    </div>
</section>

{% endblock content %}

        