{% extends 'index.html' %}

{% block content %}
<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">수어 번역 서비스 모델</h1>
                    <p class="lead fw-normal text-muted mb-4">딥러닝 기반 수어(수화) 번역 모델 비교
                    </p>
                    <p class="fw-light text-muted mb-4" >고품질의 수어 번역 서비스를 개발함으로써 청각장애인의 정보 접근성을 개선하고, 궁극적으로는 청각장애인의 삶의 질과 사회적 참여를 높이는데 기여할 수 있습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/hand_detection.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">MODEL1 : CNN</h2>
                <p class="lead fw-normal text-muted mb-0">정확도 : 0.99 <br> ~~ </p>
            </div>
        </div>
    </div>
</section>

<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/sign_classification.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">MODEL2 : knn</h2>
                <p class="lead fw-normal text-muted mb-0">정확도 : 0.99 <br> ~~ </p>
            </div>
        </div>
    </div>
</section>

<!-- About section three-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/hand_detection.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">MODEL3 : RandomForest</h2>
                <p class="lead fw-normal text-muted mb-0">정확도 : 0.99 <br> ~~ </p>
            </div>
        </div>
    </div>
</section>

<!-- About section four-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/sign_classification.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">MODEL4 : SGDClassifier</h2>
                <p class="lead fw-normal text-muted mb-0">정확도 : 0.99 <br> ~~ </p>
            </div>
        </div>
    </div>
</section>

<!-- About section five-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/hand_detection.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">MODEL5 : XGBClassifier</h2>
                <p class="lead fw-normal text-muted mb-0">정확도 : 0.99 <br> ~~ </p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}