{% extends 'index.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row justify-content-center ">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder text-white mb-3">수어 번역 서비스</h1>
                    <p class="lead fw-normal text-white-50 mb-4">딥러닝 기반 수어(수화) 번역 솔루션 제공
                    </p>
                    <p class="fw-light text-white-50 mb-4" >고품질의 수어 번역 서비스를 개발함으로써 청각장애인의 정보 접근성을 개선하고, <br> 궁극적으로는 청각장애인의 삶의 질과 사회적 참여를 높이는데 기여할 수 있습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/single_trans.PNG" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Single Image Translation</h2> <br>
                <p class="lead fw-normal text-muted mb-0">손 이미지가 어떤 글자를 의미하는지 분류한다.</p>
                <br>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'sign_lang:single_translate' %}">Get Started</a>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/multi_trans.png" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Multiple Image Translation</h2><br>
                <p class="lead fw-normal text-muted mb-0">여러장의 이미지가 각각 어떤 글자를 의미하는지 분류한다.</p>
                <br>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'sign_lang:multi_translate' %}">Get Started</a>
            </div>
        </div>
    </div>
</section>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/img_coming.png" alt="..." /></div>
  
            <div class="col-lg-6">
                <h2 class="fw-bolder">Single Video Translation</h2>
                <p class="lead fw-normal text-muted mb-0">업로드된 동영상으로부터 손의 위치를 파악하고, <br> 이를 실시간으로 번역한다. </p>
                <br>
                <a class="btn btn-secondary btn-lg px-4 me-sm-3 disabled" href="{% url 'sign_lang:video_translate' %}">Coming soon</a>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

        